.logo{
   display: block;
   height:200px;
   width:200px;
   margin-right:300px;
 } 

 .photo{ 
 	display: block;
   height:200px;
   width:350px;
   margin-right:100px;
 } 

 .btn-thingy{
    display: block;
    width: 100%; 
} 
 

